In [5]:
import pandas as pd
import requests

In [6]:
response=requests.get("https://api.census.gov/data/2020/dec/responserate?get=DRRALL,CRRINT,RESP_DATE,CRRALL,GEO_ID,DRRINT&for=county:*")

In [7]:
response.text[0]

'['

In [8]:
census=pd.DataFrame(response.json()[1:],columns=response.json()[0])

In [9]:
census

     DRRALL CRRINT   RESP_DATE CRRALL          GEO_ID DRRINT state county
0       0.3   24.3  2020-05-15   65.7  0500000US21137    0.1    21    137
1       0.2   29.8  2020-05-15     58  0500000US21139      0    21    139
2       0.1   21.7  2020-05-15   52.9  0500000US21143      0    21    143
3       0.2   53.5  2020-05-15   67.1  0500000US21145    0.1    21    145
4       0.3   22.9  2020-05-15     59  0500000US21149    0.1    21    149
...     ...    ...         ...    ...             ...    ...   ...    ...
3211    0.2   63.3  2020-05-15   71.5  0500000US24025    0.1    24    025
3212    0.1   69.1  2020-05-15   73.1  0500000US24027    0.1    24    027
3213    0.2     42  2020-05-15   54.7  0500000US24029      0    24    029
3214    0.1   63.7  2020-05-15   68.9  0500000US24031    0.1    24    031
3215    0.2   53.7  2020-05-15   60.4  0500000US24033    0.1    24    033

[3216 rows x 8 columns]

In [10]:
census["fips"]=census["GEO_ID"].str[-5:]

In [11]:
census.head()

  DRRALL CRRINT   RESP_DATE CRRALL          GEO_ID DRRINT state county   fips
0    0.3   24.3  2020-05-15   65.7  0500000US21137    0.1    21    137  21137
1    0.2   29.8  2020-05-15     58  0500000US21139      0    21    139  21139
2    0.1   21.7  2020-05-15   52.9  0500000US21143      0    21    143  21143
3    0.2   53.5  2020-05-15   67.1  0500000US21145    0.1    21    145  21145
4    0.3   22.9  2020-05-15     59  0500000US21149    0.1    21    149  21149

In [12]:
cases=pd.read_csv("https://github.com/nytimes/covid-19-data/raw/master/us-counties.csv",dtype={"fips":str})

In [13]:
cases.head()

         date     county       state   fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061      1       0
1  2020-01-22  Snohomish  Washington  53061      1       0
2  2020-01-23  Snohomish  Washington  53061      1       0
3  2020-01-24       Cook    Illinois  17031      1       0
4  2020-01-24  Snohomish  Washington  53061      1       0

In [14]:
mostrecentdate=cases["date"].max()
mostrecentdate

'2020-05-14'

In [15]:
mostrecentcases=cases[cases["date"]==mostrecentdate]

In [18]:
df=pd.merge(mostrecentcases,census,on="fips")

In [19]:
# output dataframe to a csv
df.to_csv('../data/covid-census.csv', index=False)