In [2]:
import pandas as pd
import requests

In [4]:
response=requests.get("https://api.census.gov/data/2020/dec/responserate?get=DRRALL,CRRINT,RESP_DATE,CRRALL,GEO_ID,DRRINT&for=county:*")

In [7]:
response.text[0]

'['

In [15]:
census=pd.DataFrame(response.json()[1:],columns=response.json()[0])

In [16]:
census

     DRRALL CRRINT   RESP_DATE CRRALL          GEO_ID DRRINT state county
0       0.5   24.2  2020-05-13   65.1  0500000US21137    0.1    21    137
1       0.3   29.7  2020-05-13   57.7  0500000US21139      0    21    139
2       0.3   21.6  2020-05-13   52.5  0500000US21143      0    21    143
3       0.2   53.4  2020-05-13   66.8  0500000US21145    0.1    21    145
4       0.4   22.7  2020-05-13   58.5  0500000US21149    0.1    21    149
...     ...    ...         ...    ...             ...    ...   ...    ...
3211    0.2   63.2  2020-05-13   71.2  0500000US24025    0.1    24    025
3212    0.2   68.9  2020-05-13   72.8  0500000US24027    0.1    24    027
3213    0.2   41.9  2020-05-13   54.4  0500000US24029    0.1    24    029
3214    0.2   63.6  2020-05-13   68.6  0500000US24031    0.1    24    031
3215    0.3   53.5  2020-05-13   60.1  0500000US24033    0.1    24    033

[3216 rows x 8 columns]

In [19]:
census["fips"]=census["GEO_ID"].str[-5:]

In [21]:
census.head()

  DRRALL CRRINT   RESP_DATE CRRALL          GEO_ID DRRINT state county   fips
0    0.5   24.2  2020-05-13   65.1  0500000US21137    0.1    21    137  21137
1    0.3   29.7  2020-05-13   57.7  0500000US21139      0    21    139  21139
2    0.3   21.6  2020-05-13   52.5  0500000US21143      0    21    143  21143
3    0.2   53.4  2020-05-13   66.8  0500000US21145    0.1    21    145  21145
4    0.4   22.7  2020-05-13   58.5  0500000US21149    0.1    21    149  21149

In [34]:
cases=pd.read_csv("https://github.com/nytimes/covid-19-data/raw/master/us-counties.csv",dtype={"fips":str})

In [36]:
cases.head()

         date     county       state   fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061      1       0
1  2020-01-22  Snohomish  Washington  53061      1       0
2  2020-01-23  Snohomish  Washington  53061      1       0
3  2020-01-24       Cook    Illinois  17031      1       0
4  2020-01-24  Snohomish  Washington  53061      1       0

In [38]:
mostrecentdate=cases["date"].max()
mostrecentdate

'2020-05-12'

In [40]:
mostrecentcases=cases[cases["date"]==mostrecentdate]

In [41]:
pd.merge(mostrecentcases,census,on="fips")

,date,county_x,state_x,fips,cases,deaths,DRRALL,CRRINT,RESP_DATE,CRRALL,GEO_ID,DRRINT,state_y,county_y
0,2020-05-12,Autauga,Alabama,01001,91,4,0.2,52.4,2020-05-13,66.3,0500000US01001,0.1,01,001
1,2020-05-12,Baldwin,Alabama,01003,227,7,0.3,40.3,2020-05-13,51.4,0500000US01003,0.1,01,003
2,2020-05-12,Barbour,Alabama,01005,67,1,0.4,26.5,2020-05-13,51.1,0500000US01005,0.1,01,005
3,2020-05-12,Bibb,Alabama,01007,46,1,0.3,23.7,2020-05-13,52.8,0500000US01007,0.1,01,007
4,2020-05-12,Blount,Alabama,01009,45,0,0.6,37.8,2020-05-13,60.8,0500000US01009,0.1,01,009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2881,2020-05-12,Sublette,Wyoming,56035,3,0,0.1,13.4,2020-05-13,14,0500000US56035,0,56,035
2882,2020-05-12,Sweetwater,Wyoming,56037,20,0,0.1,47.4,2020-05-13,55,0500000US56037,0.1,56,037
2883,2020-05-12,Teton,Wyoming,56039,98,1,0.1,18.2,2020-05-13,18.6,0500000US56039,0.1,56,039
2884,2020-05-12,Uinta,Wyoming,56041,9,0,0.1,39.5,2020-05-13,44.2,0500000US56041,0.1,56,041
2885,2020-05-12,Washakie,Wyoming,56043,7,0,0.5,37.4,2020-05-13,56.2,0500000US56043,0,56,043